@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-4xl font-bold py-4
  }
  h2 {
    @apply text-3xl font-bold py-3
  }
  h3 {
    @apply text-2xl font-bold py-2
  }
  p {
    @apply py-2
  }
}

@layer components {
  .std-container {
    @apply py-10 px-28
  }
}